<!-- frobit launch file 

FroboMind controller frobits using 22000/3300 ohm voltage dividers:
	supply_voltage_scale_factor = 0.03747

RoboCard based frobits using 1800/700 ohm voltage dividers: 
	supply_voltage_scale_factor = 0.01746

-->

<launch>
	<!--node name="sick_tim310s01" pkg="sick_tim" type="sick_tim310s01" respawn="false" output="screen">
		<param name="min_ang" type="double" value="-2.35619449019" />
		<param name="max_ang" type="double" value="2.35619449019" /-->
	   <!-- <param name="intensity" type="bool" value="True" />
		<param name="skip" type="int" value="0" />
		<param name="frame_id" type="str" value="laser" />
		<param name="time_offset" type="double" value="-0.001" />
		<param name="publish_datagram" type="bool" value="False" /> -->
	<!--/node-->

	<node name="sick_node" pkg="sick_node" type="sick_node" output="screen" >
		<param name="scan_in" value="/fmSensors/scan" />
		<param name="pointcloud_out" value="/laserpointCloud" />
		
		<!-- TEST -->
		<param name="out_left" value="/fmProcessing/laserpointCloudLeft" />
		<param name="out_right" value="/fmProcessing/laserpointCloudRight" />
	</node>
  
	<node pkg="hough_2lines_detect" name="hough_2lines_detect" type="hough_2lines_detect" output="screen" >
			<param name="in" value="/pointcloud_out" />
			<param name="line_out" value="/2lines"/>
			<param name="line_out1" value="/1lines"/>
			<param name="min_row_distance" value="0.5" />
			<param name="max_point_distance" value="2.0" />
			<param name="angle_res" value="1" />
			<param name="height" value="50" />
			<param name="r_res" value="0.05" />
	</node>

  
	<node pkg="draw_marker_lines" name="draw_marker_lines_right" type="draw_marker_lines_node" output="screen" >
			<param name="line_topic" value="/2lines" />
			<param name="draw_topic" value="/draw_2lines" />
	</node>


	<node pkg="draw_marker_lines" name="draw_marker_lines_left" type="draw_marker_lines_node" output="screen" >
			<param name="line_topic" value="/1lines" />
			<param name="draw_topic" value="/draw_1_lines" />
	</node>

</launch>

